doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" )
    script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type='text/javascript' src="/javascripts/main.js")
    script(type="text/javascript"). 
        var local_data =!{JSON.stringify(data)}
        
    
    
  body(class="col-md-4 col-md-offset-4 text-center")
    block content
